<h1>band.io</h1>
<%=link_to "List of Venues", venues_path%></br>
<%=link_to "Create New Venue", new_venue_path%></br>
<%= link_to "Add Band", new_band_path%></br>
<%= link_to "Create New Event", new_event_path%></br>

